<h2>Add a Quote</h2>

<form class="create-form" id="newPostForm">

  <div class="form-group">
    <label for="auth">Your Name:</label>
    <input type="text" id="auth" name="author">
  </div>
  
  <div class="form-group">
    <label for="artist">Artist:</label>
    <select name="artist" id="artist">
      <option value="tupac">Tupac</option>
      <option value="morrissey">Morrissey/Smiths</option>
      <option value="christmas">Christmas</option>
    </select>
  </div>

  <div class="form-group">
    <label for="postBody">Lyric Seed (one word):</label>
    <textarea id="postBody" name="post" rows="1" cols="20"></textarea>
  </div>

  <button type="submit" id="addPost">Create Song</button>
</form>

<script type="text/javascript">
  $('#addPost').on('click', (event) => {
    event.preventDefault()

    var author = $('#auth').val().trim()
    var postBody = $('#postBody').val().trim()
    var artist = $('#artist').val();
    $.post('/api/posts', {author: author, artist: artist, body: postBody}, () => {
      location.reload()
    })
  })
</script>