<form action="/login" method="post" class="create-form" id="loginForm">

  <div class="form-group">
    <label for="auth">Username:</label>
    <input type="text" id="username" name="username">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"></input>
  </div>

  <button type="submit" id="login">Login</button>
</form>